.navbar {
    padding: 0;
}

.mainMenu {
    background: #0171bb;
    -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
}

.mainMenu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.mainMenu ul li {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
}

.mainMenu ul li a {
    white-space: nowrap;
    display: block;
    height: 100%;
    width: 100%;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    padding: 0 25px;
}

.mainMenu ul li a:hover i:before {
    color: antiquewhite;
}


.mainMenu ul li ul li {
    min-width: 200px;
}

.mainMenu ul li a:hover {
    background: #5779d1;
}

.mainMenu ul li ul li a:hover {
    background: #d17d8d;
}

.mmSearch {
    max-width: 50px;
}

.mainMenuDropdown {
    position: relative;
}

.mainMenu ul.mainMenuDropdownUl {
    position: absolute;
    bottom: -50px;
    left: 0;
    display: none;
    z-index: 99;
}

.mainMenuDropdownUl li {
    text-align: left !important;
    background: #5779d1;
}

.mainMenuDropdown:hover .mainMenuDropdownUl {
    display: block !important;
}

.mainMenuDropdown:hover .mainMenuDropdownA {
    background: #5779d1;
}

.mobileDropdown {
    padding-left: 50px !important;
}

/*# sourceMappingURL=menu.css.map */