#history-panel
{
    z-index: 10000;
    position: fixed;
    right: 30%;
    top: 0;
    width: 130px;
    height: 25px;
    font: 12px Arial;
    color: #8c8c8c;
    text-align: center;

    cursor: pointer;
    padding: 5px 15px 8px 15px;
    border-radius: 0 0 4px 4px;
    background: #383838;
    box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.25), 2px 2px 3px rgba(0, 0, 0, 0.12);

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#history-panel-container{
    overflow-y: scroll;
    overflow-x: hidden;
    cursor: auto;
    position: fixed;
    top: -150px;
    right: 30%;
    background: #ffffff;
    border: 1px #ccc solid;
    color: #353535;
    width: 600px;
    height: 150px;
    padding: 10px;
    text-align: left;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;

    -webkit-border-radius: 0 0 0 5px;
    -moz-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
}

#history-panel:hover {
    top: 150px;
}

#history-panel:hover #history-panel-container {
    top: 0;
}

#history-panel > .fa{
    color: #ffffff;
}

#history-panel-container .history-title a {
    cursor: pointer;
}

#history-panel-container .history-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}