.breadcrumb {
    padding: 12px 0;
    background-color: transparent;

    margin-bottom: 0;
}

.breadcrumb ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.breadcrumb ul li {
    margin-right: 5px;
    color: #9d9d9d;
    font-size: 14px;
    float: left;
}

.breadcrumb-item a {
    color: #e03131;
    font-size: 14px;
}

.breadcrumb-item.active a {
    color: #9d9d9d;
    text-decoration: underline;
}

.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #6c757d;
    font-weight: bold;
    content: "›";
}

